<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Report</title>
</head>
<body>
<section class="section" layout:fragment="page-content">

    <h1 class="section-title">Report for [[${period.from}]] to [[${period.to}]]</h1>
    <label class="summary">Gross interest earned =</label>
    <label class="summary">(total_interest_now + total_interest_redemptions) - total_interest_before=</label>
    <label class="summary">
        <strong th:text="${@numberUtils.fromCents(totalGrossInterestEarned)}"></strong>
    </label>
    <label class="summary summary-right">Currency: [[${currencyTicker}]]</label>

    <h3 class="section-title">Balance at [[${balanceBefore.balanceAt}]]</h3>
    <table class="report-table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Certificate</th>
            <th scope="col">Issued at</th>
            <th scope="col">Maturity Date</th>
            <th scope="col">Principal</th>
            <th scope="col">Interest</th>
            <th scope="col">Estimated tax</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="balance : ${balanceBefore.entries}">
            <td>[[${balance.product}]]</td>
            <td>[[${balance.certificate}]]</td>
            <td>[[${balance.issuedAt}]]</td>
            <td>[[${balance.maturityDate}]]</td>
            <td>[[${@numberUtils.fromCents(balance.principal)}]]</td>
            <td>[[${@numberUtils.fromCents(balance.interest)}]]</td>
            <td>[[${@numberUtils.fromCents(balance.estimatedBrlTax)}]]</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" style="text-align: right; font-weight: bold;">Total:</td>
            <td th:text="${@numberUtils.fromCents(balanceBefore.totalPrincipal)}"></td>
            <td th:text="${@numberUtils.fromCents(balanceBefore.totalInterest)}"></td>
            <td th:text="${@numberUtils.fromCents(balanceBefore.totalEstimatedBrlTax)}"></td>
        </tr>
        </tfoot>
    </table>

    <hr class="section-divider"/>

    <h3 class="section-title">Transactions for the period</h3>
    <table class="report-table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Certificate</th>
            <th scope="col">Issued at</th>
            <th scope="col">Mature at</th>
            <th scope="col">Payment at</th>
            <th scope="col">Principal</th>
            <th scope="col">Redemption</th>
            <th scope="col">Interest</th>
            <th scope="col">[[${currencyTicker}]] Tax</th>
            <th scope="col">Credit</th>
            <th scope="col">Description</th>
            <th scope="col">BR to AU Forex</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions.entries}">
            <td>[[${transaction.product}]]</td>
            <td>[[${transaction.certificate}]]</td>
            <td>[[${transaction.issuedAt}]]</td>
            <td>[[${transaction.matureAt}]]</td>
            <td>[[${transaction.paymentAt}]]</td>
            <td>[[${@numberUtils.fromCents(transaction.principal)}]]</td>
            <td>[[${@numberUtils.fromCents(transaction.redemption)}]]</td>
            <td>[[${@numberUtils.fromCents(transaction.interest)}]]</td>
            <td>[[${@numberUtils.fromCents(transaction.brTax)}]]</td>
            <td>[[${@numberUtils.fromCents(transaction.credit)}]]</td>
            <td>[[${transaction.description}]]</td>
            <td>[[${transaction.brToAuForex}]]</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" style="text-align: right; font-weight: bold;">Total:</td>
            <td th:text="${@numberUtils.fromCents(transactions.totalPrincipal)}"></td>
            <td th:text="${@numberUtils.fromCents(transactions.totalRedemption)}"></td>
            <td th:text="${@numberUtils.fromCents(transactions.totalInterest)}"></td>
            <td th:text="${@numberUtils.fromCents(transactions.totalBrTax)}"></td>
            <td th:text="${@numberUtils.fromCents(transactions.totalCredit)}"></td>
            <td></td>
            <td></td>
        </tfoot>
    </table>

    <hr class="section-divider"/>

    <h3 class="section-title">Current balance at [[${balanceNow.balanceAt}]]</h3>
    <table class="report-table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Certificate</th>
            <th scope="col">Issued at</th>
            <th scope="col">Maturity Date</th>
            <th scope="col">Principal</th>
            <th scope="col">Interest</th>
            <th scope="col">Estimated tax</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="balance : ${balanceNow.entries}">
            <td>[[${balance.product}]]</td>
            <td>[[${balance.certificate}]]</td>
            <td>[[${balance.issuedAt}]]</td>
            <td>[[${balance.maturityDate}]]</td>
            <td>[[${@numberUtils.fromCents(balance.principal)}]]</td>
            <td>[[${@numberUtils.fromCents(balance.interest)}]]</td>
            <td>[[${@numberUtils.fromCents(balance.estimatedBrlTax)}]]</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" style="text-align: right; font-weight: bold;">Total:</td>
            <td th:text="${@numberUtils.fromCents(balanceNow.totalPrincipal)}"></td>
            <td th:text="${@numberUtils.fromCents(balanceNow.totalInterest)}"></td>
            <td th:text="${@numberUtils.fromCents(balanceNow.totalEstimatedBrlTax)}"></td>
        </tr>
        </tfoot>
    </table>

</section>
</body>
</html>
