<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Report</title>
</head>
<body>
<section class="section" layout:fragment="page-content">
    <h1 class="section-title">Report for FY[[${financialYear}]]</h1>
    <table class="report-table">
        <thead>
        <tr>
            <th scope="col">Period</th>
            <th scope="col">Total Gross Interest Earned</th>
            <th scope="col">total paid tax</th>
            <th scope="col">currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${taxReport}">
            <td>[[${entry.calendarPeriod.month}]]/[[${entry.calendarPeriod.year}]]</td>
            <td>[[${@numberUtils.fromCents(entry.totalGrossInterestEarned)}]]</td>
            <td>[[${@numberUtils.fromCents(entry.totalPaidTax)}]]</td>
            <td>[[${entry.currencyTicker}]]</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>[[${@numberUtils.fromCents(totalGrossInterestEarned)}]]</strong></td>
            <td><strong>[[${@numberUtils.fromCents(totalPaidTax)}]]</strong></td>
            <td></td>
        </tfoot>
    </table>
</section>
</body>
</html>
